/* Aqui empieza alojamiento */
main {
    background-color: whitesmoke;
    margin: 0px;
}

.titulo h2 {
    font-size: 2,7em;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 0px;
    padding: 15px;
}
.titulo p {
    font-size: 2, 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.titulo p {
    display: none;
}

.cuerpo {
    background-color: whitesmoke;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cuerpo .cont-alojamiento {
    padding: 50px 0px;
}

.carta {
    background-position: center center;
    background-size: cover;
    height: 500px;
    margin: 50px;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    box-shadow: 5px 5px 20px black;
    transform: translateY(3%);

}

img {
    height: 500px;
    width: 300px;
    border-radius: 3px;
}


.contenido {
    height: 200px;
    width: 300px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background: rgba(27, 27, 27, 0.5);
    color: white;
    transition: 0.5s;
}

.contenido h3 {
    margin: 10px;
    font-size: 30px;

}

.contenido p {
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

.carta:hover {
    cursor: pointer;
}

.carta:hover .contenido {
    align-items: center;
    height: 220px;
    width: 300;
    bottom: 240px;
    background: black;
}

.carta:hover p {
    opacity: 1;
    visibility: visible;
}

.carta:hover img {
    transform: scale(1.1);
}


@media (min-width: 768px) and (max-width: 1200px) {
    .cuerpo .cont-alojamiento {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }
    .cuerpo .cont-alojamiento h2 {
        margin-top: 0px;
    }
    .inicio-parrafo p {
        display: block;
    }

    .carta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .carta img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (min-width:1201px) {
    .alojamiento-text h2 {
        margin-top: 20px;
        font-size: 2, 7em;
        text-align: center;
    }

    .titulo p {
        display: block;
    }

    .cont-alojamiento {
        display: flex;
        flex-flow: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .carta img {
            height: 300px;
            width: 350;
            margin: 0 20px;
        }

    .carta p {
            text-align: center;
            justify-content: center;
            align-items: center;
        }


    }
